In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('train.csv')
train_df

        review_id                                             review  rating
0               0  Ga disappointed neat products .. Meletot Hilsn...       1
1               1    Rdtanya replace broken glass, broken chargernya       1
2               2  Nyesel bngt dsni shopping antecedent photo mes...       1
3               3      Sent a light blue suit goods ga want a refund       1
4               4  Pendants came with dents and scratches on its ...       1
...           ...                                                ...     ...
146806     146806  Excellent product quality delivery speed is ve...       5
146807     146807                                         thanks gan       5
146808     146808   Awesome awesome quality merchandise value CP ...       5
146809     146809  Nice Packing boxes made effective price .........       5
146810     146810   Excellent product quality excellent product p...       5

[146811 rows x 3 columns]

In [3]:
print('Original reviews: ', len(train_df))
print('No duplicated reviews and ratings: ', len(train_df.drop_duplicates(['review', 'rating'])))
print('No duplicated reviews: ', len(train_df.drop_duplicates('review')))

Original reviews:  146811
No duplicated reviews and ratings:  116886
No duplicated reviews:  115328

In [4]:
train_df = train_df.drop_duplicates(['review', 'rating'])
train_df

        review_id                                             review  rating
0               0  Ga disappointed neat products .. Meletot Hilsn...       1
1               1    Rdtanya replace broken glass, broken chargernya       1
2               2  Nyesel bngt dsni shopping antecedent photo mes...       1
3               3      Sent a light blue suit goods ga want a refund       1
4               4  Pendants came with dents and scratches on its ...       1
...           ...                                                ...     ...
146804     146804   Excellent quality Excellent quality Very acco...       5
146806     146806  Excellent product quality delivery speed is ve...       5
146807     146807                                         thanks gan       5
146808     146808   Awesome awesome quality merchandise value CP ...       5
146809     146809  Nice Packing boxes made effective price .........       5

[116886 rows x 3 columns]

In [5]:
train_df.groupby('rating').count()

        review_id  review
rating
1           13807   13807
2           11262   11262
3           28479   28479
4           31931   31931
5           31407   31407

In [6]:
NUM_VAL = 2000
ratings = train_df['rating'].unique()
print(ratings)

[1 2 3 4 5]

In [7]:
val_df = pd.DataFrame(columns=['review_id', 'review', 'rating'])

for rating in ratings:
    sub_df = train_df[train_df['rating'] == rating]
    sub_df = sub_df.sample(NUM_VAL, random_state=0)
    
    val_df = pd.concat([val_df, sub_df])

val_df

       review_id                                             review rating
10271      10271  Order black. But until the color of khakis. Or...      1
7989        7989  Response sellers alike absolutely nothing. ver...      1
8461        8461                     Keep it in the bag rice weevil      1
632          632  Ga receipt of goods, confirmed to be from the ...      1
7225        7225  goods bagussssssssssssssssssssssssssssssssssss...      1
...          ...                                                ...    ...
139698    139698  Original product. The price of the best parts....      5
127278    127278  CPET bgt his delivery, packing oke bgt, safe p...      5
140972    140972  Thank you for your boss at home really texture...      5
139004    139004  Thank you seller....products delivered in good...      5
107836    107836   Awesome service awesome speed of the ship awe...      5

[10000 rows x 3 columns]

In [8]:
train_df = train_df[~train_df['review_id'].isin(val_df['review_id'])]
train_df

        review_id                                             review  rating
0               0  Ga disappointed neat products .. Meletot Hilsn...       1
1               1    Rdtanya replace broken glass, broken chargernya       1
2               2  Nyesel bngt dsni shopping antecedent photo mes...       1
3               3      Sent a light blue suit goods ga want a refund       1
4               4  Pendants came with dents and scratches on its ...       1
...           ...                                                ...     ...
146803     146803                       Thanks you very satisfactory       5
146804     146804   Excellent quality Excellent quality Very acco...       5
146806     146806  Excellent product quality delivery speed is ve...       5
146807     146807                                         thanks gan       5
146808     146808   Awesome awesome quality merchandise value CP ...       5

[106886 rows x 3 columns]

In [9]:
val_df = val_df.loc[:, ['review', 'rating']]
val_df = val_df.reset_index(drop=True)

train_df = train_df.loc[:, ['review', 'rating']]
train_df = train_df.reset_index(drop=True)

In [10]:
print(val_df.groupby('rating').count())
print(train_df.groupby('rating').count())

review
rating
1         2000
2         2000
3         2000
4         2000
5         2000
        review
rating
1        11807
2         9262
3        26479
4        29931
5        29407

In [11]:
val_df.to_csv('val_ds.csv', index=False)
train_df.to_csv('train_ds.csv', index=False)