In [1]:
import pandas as pd
import sacremoses

In [2]:
train_df = pd.read_csv('train.csv', index_col='review_id')
train_df

                                                      review  rating
review_id
0          Ga disappointed neat products .. Meletot Hilsn...       1
1            Rdtanya replace broken glass, broken chargernya       1
2          Nyesel bngt dsni shopping antecedent photo mes...       1
3              Sent a light blue suit goods ga want a refund       1
4          Pendants came with dents and scratches on its ...       1
...                                                      ...     ...
146806     Excellent product quality delivery speed is ve...       5
146807                                            thanks gan       5
146808      Awesome awesome quality merchandise value CP ...       5
146809     Nice Packing boxes made effective price .........       5
146810      Excellent product quality excellent product p...       5

[146811 rows x 2 columns]

In [3]:
mtk = sacremoses.MosesTokenizer()

In [4]:
test = train_df.sample(10)
test

                                                      review  rating
review_id
146540     Tqvm...all in good condition...suit perfectly ...       5
26202      Useless to ungodly data only other charge. Wai...       2
73136      The rating for each shop nè long but beautiful...       4
29660                                  Fragile unfortunately       3
47497      Package has been received ... complete and ori...       3
75511      Excellent quality Very accommodating seller We...       4
12231      Disappointed at the quality of my disappointme...       1
57267       Good product quality. The product price is good.       3
53888      Get a smooth and fast delivery too much waitin...       3
48255                Product quality good price good product       3

In [5]:
train_df[train_df['review'].str.contains(r'!')]

                                                      review  rating
review_id
13         KALO RULES DO NOT WANT TO PARTICIPATE IN CHAT ...       1
33             Lacking those items, those filters only sent!       1
57         Product quality has really bad enough With pho...       1
93         Item ok. Just got friendly sellar directly whe...       1
142        I ordered pixie Snow pinaship nio Kau ... anno...       1
...                                                      ...     ...
146696     Thank you! 2nd time in this shop to order .......       5
146700     good and cheap . expiry in 2022.  heard good r...       5
146727     The seller was very helpful and replied fast. ...       5
146763     Wrong size. Large did you send, but still I re...       5
146808      Awesome awesome quality merchandise value CP ...       5

[6366 rows x 2 columns]

What punctuation to remove? what not to remove?

In [6]:
test['review'].apply(mtk.tokenize)

review_id
146540    [Tqvm, ..., all, in, good, condition, ..., sui...
26202     [Useless, to, ungodly, data, only, other, char...
73136     [The, rating, for, each, shop, nè, long, but, ...
29660                              [Fragile, unfortunately]
47497     [Package, has, been, received, ..., complete, ...
75511     [Excellent, quality, Very, accommodating, sell...
12231     [Disappointed, at, the, quality, of, my, disap...
57267     [Good, product, quality, ., The, product, pric...
53888     [Get, a, smooth, and, fast, delivery, too, muc...
48255        [Product, quality, good, price, good, product]
Name: review, dtype: object

In [7]:
mtk.tokenize("Hello, it's me💯 (I'm very dumb) bitch!!!!! 💯")

['Hello',
 ',',
 'it',
 '&apos;s',
 'me',
 '💯',
 '(',
 'I',
 '&apos;m',
 'very',
 'dumb',
 ')',
 'bitch',
 '!',
 '!',
 '!',
 '!',
 '!',
 '💯']

In [8]:
from sklearn.model_selection import train_test_split

Split training and validation set

In [9]:
train, val = train_test_split(train_df, train_size=0.8, random_state=0)
train = train.reset_index(drop=True)
val = val.reset_index(drop=True)

In [10]:
train.to_csv('train_set.csv', index=False)

In [11]:
val.to_csv('val_set.csv', index=False)

Generate output format for FastText

In [12]:
fasttext = train.copy()
fasttext

                                                   review  rating
0       Package price already received fast delivery m...       4
1       Goods have to be in good condition. Sellsr fas...       4
2                  kapaditasnya passable bgt .. thank God       4
3        Awesome awesome quality of goods shipped spee...       5
4       Good bye but have not I go to hopefully cut no...       4
...                                                   ...     ...
117443                      Motifny bgs2 who ordern pertm       3
117444                               Good value for money       4
117445      His legs to look very neat that goes on foot.       4
117446                              BRG ok..cantik lipez.       5
117447  Like its more fit may be delivered late. I'm s...       3

[117448 rows x 2 columns]

In [13]:
fasttext['rating'] = '__label__' + fasttext['rating'].astype('str')
fasttext

                                                   review      rating
0       Package price already received fast delivery m...  __label__4
1       Goods have to be in good condition. Sellsr fas...  __label__4
2                  kapaditasnya passable bgt .. thank God  __label__4
3        Awesome awesome quality of goods shipped spee...  __label__5
4       Good bye but have not I go to hopefully cut no...  __label__4
...                                                   ...         ...
117443                      Motifny bgs2 who ordern pertm  __label__3
117444                               Good value for money  __label__4
117445      His legs to look very neat that goes on foot.  __label__4
117446                              BRG ok..cantik lipez.  __label__5
117447  Like its more fit may be delivered late. I'm s...  __label__3

[117448 rows x 2 columns]

In [14]:
fasttext.to_csv('fasttext.txt', sep=' ', index=False, header=False)

In [15]:
fasttext_val = val.copy()
fasttext_val['rating'] = '__label__' + fasttext_val['rating'].astype('str')
fasttext_val.to_csv('fasttext_val.txt', sep=' ', index=False, header=False)

Class size

In [16]:
train_df.groupby('rating').count() / len(train_df)

          review
rating
1       0.100708
2       0.086540
3       0.244811
4       0.285163
5       0.282779