In [1]:
import shutil
import os
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
train.head()

                               filename  category
0  45e2d0c97f7bdf8cbf3594beb6fdcda0.jpg         3
1  f74d1a5fc2498bbbfa045c74e3cc333e.jpg         3
2  f6c172096818c5fab10ecae722840798.jpg         3
3  251ffd610399ac00fea7709c642676ee.jpg         3
4  73c7328b8eda399199fdedec6e4badaf.jpg         3

In [3]:
train.groupby('category').count().T

category,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
filename,2683,2702,2687,2703,2703,2641,2641,2660,2700,2698,...,2157,573,2599,2658,2686,1725,2673,2678,2681,2662

In [4]:
min_class = train.groupby('category').count().min()[0]
min_class

573

In [8]:
small = train.groupby('category').apply(lambda x: x.sample(n=100, random_state=0))
small.head()

                                            filename  category
category
0        53627  319a832db9df6a48f131ca5be7c8cf8a.jpg         0
         54004  f32b54fd66ffa0ac7f63e4bcfa352f11.jpg         0
         54935  61ad8bf6f8559d7fb7a1588bfb26b899.jpg         0
         53811  e73b77ba84394840a5ba34d42cfc91ad.jpg         0
         54890  349b2890aba91ffec43c4d7e293970e1.jpg         0

In [9]:
del small['category']
small = small.reset_index()
del small['level_1']
small.head()

   category                              filename
0         0  319a832db9df6a48f131ca5be7c8cf8a.jpg
1         0  f32b54fd66ffa0ac7f63e4bcfa352f11.jpg
2         0  61ad8bf6f8559d7fb7a1588bfb26b899.jpg
3         0  e73b77ba84394840a5ba34d42cfc91ad.jpg
4         0  349b2890aba91ffec43c4d7e293970e1.jpg

In [10]:
small.groupby('category').count().T

category,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
filename,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100

In [15]:
def copy(row):
    source = 'train/train/{:02d}/{}'.format(row['category'], row['filename'])
    destination = 'train_small/{:02d}/{}'.format(row['category'], row['filename'])
    os.makedirs('train_small/{:02d}'.format(row['category']), exist_ok=True)
    shutil.copy2(source, destination)

In [16]:
copy(small.iloc[0])

In [17]:
small.apply(copy, axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
24061    None
24062    None
24063    None
24064    None
24065    None
Length: 24066, dtype: object